<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPizzaService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPizzaService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3333/PizzaDelivery" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPizzaService" contract="PizzaServices.IPizzaService"
                name="BasicHttpBinding_IPizzaService" />
            <endpoint address="net.tcp://localhost:3334/PizzaDelivery" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPizzaService" contract="PizzaServices.IPizzaService"
                name="NetTcpBinding_IPizzaService">
                <identity>
                    <userPrincipalName value="MSI\param" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>